:html {
}

.App {
  /* text-align: center; */
}

.latest-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.block-list {
  color: white;
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.toggle-show-all-blocks-button, .delete-all-blocks-button {
  border: 1px solid white;
  border-radius: 20px;
  padding: 15px;
  background-color: green;
}

.toggle-show-all-blocks-button:hover, .delete-all-blocks-button:hover {
  cursor: pointer;
  background-color: orange;
}

.delete-all-blocks-button {
  margin-left: 20px;
}

.block-list {
  margin: 20px;
}
